<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar/other_navlink.css">
    <link rel="stylesheet" href="/members/members.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <%- include ("./partials/navbar_repeat"); %>
    <h1>
        Members Of The Society
    </h1>
    <main>
        <table>
            <thead>
                <tr>
                    <th>
                         Members Of The Society
                    </th>
                    <th>
                        E-mail
                    </th>
                    <th>
                        Is a Committee Member
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th colspan='4'>
                        Year: 2021
                    </th>
                </tr>
            </tfoot>
            <tbody>
                <% for(var i=0;i<result.length;i++){%>
                <tr>
                    <td class="w user" value=<%= result[i].id %>>
                    <%=result[i].username%>
                    </td>
                    <td class="w mail" value=<%= result[i].id %>>
                    <%=result[i].email%>
                    </td>
                    <td class="w admin" value=<%= result[i].id %>>
                    <%if(result[i].admin){%>
                        Yes
                    <%}else{%>
                        No
                    <%}%>
                    </td>
                    <td class='select' value=<%= result[i].id %>>
                        <a class='button' href='#' style="font-size: 1.7rem;">
                            Select
                        </a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <div class='detail'>
            <div class='detail-container'>
                <dl>
                    <dt>
                        Member Name
                    </dt>
                    <dd id="name">

                    </dd>
                    <dt>
                        E-mail
                    </dt>
                    <dd id="mail">
                        
                    </dd>
                    <dt>
                        Flat No
                    </dt>
                    <dd id="flat">
                       
                    </dd>
                    <dt>
                        Phone-Number
                    </dt>
                    <dd id="phone">
                        555-555-5555
                    </dd>
                    <dt>
                        Last Update
                    </dt>
                    <dd>
                        Jun 20 2014
                    </dd>
                    <dt>
                        Notes
                    </dt>
                    <dd>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                        eros. Nullam
                        malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                    </dd>
                </dl>
            </div>
            <div class='detail-nav'>
                <button class='close'>
                    Close
                </button>
            </div>
        </div>
    </main>
    <script src="/members/members.js"></script>
  
    <script src="/members/jquery_members.js"></script>
   
</body>

</html>